ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}
li {
  list-style: none;
  text-decoration: none;
  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 0.5rem 1rem;
    &:hover {
      border-bottom: 2px solid #0865c9;
    }
  }
  &.active a {
    border-bottom: 2px solid #0865c9;
  }
}
