name: .NET

on:
  push:
    branches: [ "master", "backend" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      working-directory: ./backend
      run: dotnet restore LostAndFound.slnx

    - name: Build
      working-directory: ./backend
      run: dotnet build LostAndFound.slnx --no-restore

    - name: Test
      working-directory: ./backend
      run: dotnet test LostAndFound.slnx --no-build --verbosity normal
